.loginContainer {
  background-color: #ccc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  text-align: center;

  .appName {
    margin-bottom: 20px;
  }
  .first {
    font-size: 24px;
    font-weight: bold;
  }

  .second {
    margin-left: 5px;
  }
}

.loginFrmBox {
  height: 322px;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  width: 355px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-size: 20px;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Sltextbox {
  width: 100%;
  max-width: 100%;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.Slbutton {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none;
  border: none;
  min-width: 100px;
  min-height: 36px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline;
}

.row3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 50px;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  color: dodgerblue;
  padding-left: 0px;
}

.error {
  margin: 0;
  text-align: left;
  font-size: 12px;
  color: red;
}
